@font-face {
	font-family: chapBook;
	src: url(./public/fonts/chapbook.regular.otf)
}

.content {
	font-family: chapBook;
	max-width: 85%;
	margin: auto;
	text-align: left;
	font-size: 20px;
}

blockquote {
	text-align: center;
	max-width: 75%;
}

ul {
	list-style-image: url(./public/images/bullet_point.png);
}

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
}

img {
	height: auto;
}

#nettles-cleaned {
	float: left;	
	width: 12.5%;
}

#bog-split {
	float: right;	
	width: 10%;
}

#bog-strip {
	float: right;	
	width: 15%;
}

#bog-peel {
	float: left;	
	width: 10%;
	margin-right: 1%;
}

#bog-scrape {
	float: right;	
	width: 12%;
}

#bog-bundle {	
	width: 90%;
}

#bog-ply{	
	width: 70%;
}

#bog-splice {	
	width: 70%;
}

#bog-cut {
	float: left;
	width: 15%;
	margin-right: 2%;
}

#bog-post-cut {
	float: right;
	width: 15%;
}

#bog-running-stitch {
	float: right;
	width: 15%;
}

#bog-patch {
	float: left;
	width: 15%;
}

#bog-weave {
	float: left;
	width: 15%;
}

#closer {
	margin-top: 4%;
}

@media only screen and (max-device-width: 1024px) {
	#nettles-cleaned {
		width: 30%;
	}
	
	#bog-split {
		width: 20%;
	}
	
	#bog-strip {
		width: 25%;
	}
	
	#bog-peel {
		width: 20%;
	}
	
	#bog-scrape {
		width: 20%;
	}
	
	#bog-bundle {	
		width: 100%;
	}
	
	#bog-ply{	
		width: 90%;
	}
	
	#bog-splice {	
		width: 90%;
	}
	
	#bog-cut {
		float: right;
		width: 25%;
	}
	
	#bog-post-cut {
		width: 25%;
	}
	
	#bog-running-stitch {
		width: 25%;
	}
	
	#bog-patch {
		width: 25%;
	}
	
	#bog-weave {
		width: 25%;
	}
}

@media only screen and (max-device-width: 425px) {
	.row {
		display: grid;
	}

	#nettles-cleaned {
		width: 30%;
	}
	
	#bog-split {
		width: 30%;
	}
	
	#bog-strip {
		width: 45%;
	}
	
	#bog-peel {
		width: 35%;
	}
	
	#bog-scrape {
		width: 30%;
	}
	
	#bog-bundle {	
		width: 80%;
	}
	
	#bog-ply{	
		width: 80%;
	}
	
	#bog-splice {	
		width: 80%;
	}
	
	#bog-cut {
		float: right;
		width: 35%;
	}
	
	#bog-post-cut {
		width: 35%;
	}
	
	#bog-running-stitch {
		width: 40%;
	}
	
	#bog-patch {
		width: 50%;
	}
	
	#bog-weave {
		width: 50%;
	}
}